table {
    // width: 80%;
    width:50%;
    border-collapse: collapse;
    margin-top: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    // overflow: hidden;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: right;
    white-space: nowrap;
  }
  
  th {
    background-color: rgba(0,0,0,.5);
    color: white;
  }